   <div class="main">

    <div id="search">
        <p class="lead">
          Search for your meal recipe below:
        </p>
        <p class="text text-danger">Locked features are available for premium users only</p>
        <div id="alert">

        </div>
        
        <form>
          <div class="form-part">
            <label for="name">Dish name:</label>
            <div class="options">
              <input id="data-name" type="text" autocomplete="off" required placeholder=" ex: pasta, chicken, etc.." />
            </div>
          </div>
          <div class="form-part">
            <label for="results">Result range:</label>
            <div class="options">
              <input
                id="data-range-from"
                type="number"
                value="0"
                min="0"
               
              />-
              <input
                id="data-range-to"
                type="number"
                value="10"
                min="1"
                
              />
            </div>
          </div>
          <div class="form-part">
            <label for="cuisine">Cuisine type:</label><br />
            <div class="options">
              <input
                id="data-cuisine"
                type="text"
                autocomplete="off"
                placeholder="ex: indian, chinese, etc.."
                disabled
              />
            </div>
          </div>
          <div class="form-part">
            <label for="meal">Meal type:</label>

            <div class="options">
              <select name="" id="data-meal" disabled>
                <option selected disabled hidden></option>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snack">Snack</option>
              </select>
            </div>
          </div>
          <div class="form-part">
            <label for="dish">Dish type</label>
            <div class="options">
              <input
                disabled
                id="data-dish"
                type="text"
                placeholder="ex: soup, salad, etc.."
              />
            </div>
          </div>
          <div class="form-part">
            <label for="calories">Calories: </label>
            <div class="options">
              <input type="number" id="data-calories-from"  placeholder="min value"/>-
              <input type="number" id="data-calories-to" placeholder="max value" />
            </div>
          </div>
          <div class="form-part">
            <label for="calories">Preperation time: (in minutes) </label>

            <div class="options">
              <input type="number" id="data-prep-from" placeholder="min value" />-
              <input type="number" id="data-prep-to" placeholder="max value" />
            </div>
          </div>

          <button type="submit" id="submit" class="btn btn-primary">
            Search
          </button>
        </form>
      </div>
      <div class="results"></div>
    </div>