* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.nav-item {
  padding: 0 30px;
}
.main {
  display: flex;
  flex-direction: column;
}
#prev,
#next {
  height: 45px;
  width: 45px;
}
.jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#about {
  height: 100vh;
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 5% 90% 5%;
  grid-column-gap: 30px;
}
#carouselExampleIndicators {
  grid-column: 2/3;
  grid-row: 2/3;
}
#carouselExampleIndicators img {
  height: 100%;
  width: 100%;
  object-fit: contain !important;
}
.features {
  grid-column: 1/2;
  grid-row: 2/3;
}
.features ul {
  margin-top: 35px;
}
.features ul li {
  padding: 10px 0;
}
#search {
  min-height: 100vh;
  width: 90vw;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search form .form-part {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#search form .options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search form input {
  margin: 0 10px;
}
#search .lead {
  font-size: 30px;
  margin-bottom: 40px;
}

#search label {
  width: 150px;
  font-size: 15px;
}
#search button {
  margin-top: 30px;
}
#search select {
  padding: 3px 9px;
  margin-left: 10px;
}

#search input[type="text"],
#search select {
  width: 400px;
}
#search input[type="number"] {
  text-align: center;
  width: 185px;
}

.results {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.results .meals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  margin: auto;
  grid-gap: 10px;
}
.results .meals .meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.results .meals .meal > * {
  margin: 10px auto;
}
.results .meals img {
  height: 300px;
  width: 300px;
  border-radius: 25px;
}

.results h1 {
  font-size: 45px;
  margin: 8px auto 30px auto;
}

@media only screen and (max-width: 1300px) {
  .leard {
    font-size: 15;
  }
  #about {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 400px min-content;
    grid-column-gap: 0;
    grid-row-gap: 40px;
    margin-bottom: 20px;
  }
  #search {
    height: 100vh;
  }
  #carouselExampleIndicators {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 90%;
    margin: auto;
  }
  .features {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media only screen and (max-width: 1179px) {
}
@media only screen and (max-width: 800px) {
  #search form .form-part {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  #search form .form-part .options {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  #search form .form-part {
    margin: 5px 0;
  }
  #about ul {
    list-style: none;
  }
  .jumbotron {
    height: auto;
  }
  #about {
    align-items: center;
    text-align: center;
    height: auto;
    grid-row-gap: 30px;
    grid-template-rows: min-content min-content;
  }

  #search {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    height: auto;
  }

  #search input[type="text"],
  #search select {
    width: 100%;
  }
  #search input[type="number"] {
    text-align: center;
    width: 45%;
  }
}
